<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>
<body style="height:2000px">

<div th:fragment="navbar">

    <nav class="navbar fixed-top navbar-expand-sm
    navbar-light bg-light">
        <div class="container">
            <a
                    th:href="@{/}"
                    class="navbar-brand bm-0 h1">
                <img class="d-inline-block align-top"
                     th:src="@{/images/logo.png}"
                     width="30" height="30">
                Navbar
            </a>
            <button
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    class="navbar-toggler"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                    class="collapse navbar-collapse"
                    id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown" sec:authorize="hasRole('EMPLOYEE')">
                        <a href="#" class="nav-link dropdown-toggle"
                           id="navbarDropdownDeal"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Deals
                        </a>
                        <ul class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <li sec:authorize="hasRole('EMPLOYEE')">
                                <a th:href="@{/deals/add-deal}"
                                   class="dropdown-item">Add Deal</a></li>
                            <li sec:authorize="hasRole('EMPLOYEE')">
                                <a th:href="@{/deals/all-deals}"
                                   class="dropdown-item">All Deals</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('EMPLOYEE')">
                        <a href="#" class="nav-link dropdown-toggle"
                           id="navbarDropdownUser"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Users
                        </a>
                        <ul class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <li sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/users/new-users}"
                                   class="dropdown-item">New Users</a></li>
                            <li sec:authorize="hasRole('EMPLOYEE')">
                                <a th:href="@{/users/all-users}"
                                   class="dropdown-item">All Users</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('EMPLOYEE')">
                        <a href="#" class="nav-link dropdown-toggle"
                           id="navbarDropdownAgent"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Agents
                        </a>
                        <ul class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <li sec:authorize="hasRole('EMPLOYEE')">
                                <a th:href="@{/agents/add-agent}"
                                   class="dropdown-item">Add Agent</a></li>
                            <li sec:authorize="hasRole('EMPLOYEE')">
                                <a th:href="@{/agents/all-agent}"
                                   class="dropdown-item">All Agents</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('EMPLOYEE')">
                        <a href="#" class="nav-link dropdown-toggle"
                           id="navbarDropdownCompany"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Companies
                        </a>
                        <ul class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <li sec:authorize="hasRole('EMPLOYEE')">
                                <a th:href="@{/companies/add-company}"
                                   class="dropdown-item">Add Company</a></li>
                            <li sec:authorize="hasRole('EMPLOYEE')">
                                <a th:href="@{/companies/all-company}"
                                   class="dropdown-item">All Companies</a></li>
                        </ul>
                    </li>

                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/users/register}" class="nav-link">
                            Register
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/users/login}" class="nav-link">
                            Login
                        </a>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="hasRole('CUSTOMER')">
                        <a href="#" class="nav-link dropdown-toggle"
                           id="navbarDropdownCustomerDeals"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Deals
                        </a>
                        <ul class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <li sec:authorize="hasRole('CUSTOMER')">
                                <a th:href="@{/deals/customer-deals}"
                                   class="dropdown-item">Deals</a></li>
                            <li sec:authorize="hasRole('CUSTOMER')">
                                <a th:href="@{/deals/customer-all-deals}"
                                   class="dropdown-item">All Deals</a></li>
                        </ul>
                    </li>

                    <li class="nav-item d-flex" sec:authorize="isAuthenticated()">
                        <a class="nav-link">
                            Welcome,
                            <th:block th:text="${#authentication.principal.fullName}"></th:block>
                        </a>
                    </li>
                    <li class="nav-item d-flex" sec:authorize="isAuthenticated()">
                        <form th:action="@{/users/logout}" th:method="post">
                            <input class="btn btn-link nav-link" type="submit" value="Logout">
                        </form>
                    </li>


                </ul>

            </div>
            <form class="d-flex">
                <input type="text" class="form-control me-2">
                <button type="submit" class="btn
            btn-primary">Search
                </button>
            </form>
        </div>
    </nav>
</div>

</body>
</html>