<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container padding-90">
    <div class="text-center">
        <img class="d-inline-block align-top"
             th:src="@{/images/logo.png}"
             width="100" height="100">
    </div>
    <h2 class="text-center text-secondary">Login</h2>
    <form
            th:action="@{/users/login}"
            th:method="post"
            class="main-form mx-auto col-md-4 d-flex flex-column justify-content-center">

        <div class="form-group">
            <label for="username" class="text-white font-weight-bold">Email</label>
            <input
                    id="username"
                    th:value="${username}"
                    name="username"
                    type="text"
                    class="form-control"
                    placeholder="Email"/>
        </div>
        <div class="form-group">
            <label for="password" class="text-white font-weight-bold">Password</label>
            <input
                    id="password"
                    name="password"
                    type="password"
                    class="form-control"
                    placeholder="Password"/>

        </div>

        <p th:if="${invalid_input}" class="errors alert alert-danger">
            Invalid username or password.
        </p>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Login"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer th:replace="fragments/footer::footer"></footer>
</div>
</body>
</html>
