<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container padding-90">
    <h2 class="text-center text-white">All Companies</h2>
</div>

<!--<div class="container">-->
<div class="container text-center py-1">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4" th:each="d: ${customerDeals.getContent()}">
            <div class="card shadow-lg">
                <div class="card-header">
                    <h4 th:text="|MAWB: ${d.mawb}|">MAWB</h4>
                    <h4 th:text="|HAWB: ${d.hawb}|">HAWB</h4>
                </div>
                <div class="card-body">
                    <h3 class="my-0 font-weight-normal" th:text="${d.status.name}">
                    </h3>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li th:text="|Type: ${d.type}|">Type</li>
                        <li th:text="|Date: ${d.date}|">date</li>
                        <li th:text="|Country: ${d.country}|">country</li>
                        <li th:text="|Airport: ${d.airport}|">airport</li>
                        <li th:text="|Pieces: ${d.pieces}|">pieces</li>
                        <li th:text="|Weight: ${d.actualWeight} kg.|">Actual Weight</li>
                        <li th:text="|Chargeable: ${d.chargeableWeight} kg.|">Chargeable Weight</li>
                        <li th:text="|Company: ${d.company}|">company</li>
                    </ul>
                    <div class="d-grid gap-2">
                        <a class="btn
                            btn-outline-primary btn-lg shadow-sm"
                           th:href="@{/}" href="#"
                        >Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!--</div>-->

<div class="container p-2 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">

        <a class="btn btn-secondary"
           th:classappend="${customerDeals.isFirst() ? 'disabled' : ''}"
           th:href="@{/deals/customer-deals(size=${customerDeals.getSize()},page=0)}" href="#">First</a>

        <a class="btn btn-secondary"
           th:classappend="${customerDeals.hasPrevious() ? '' : 'disabled'}"
           th:href="@{/deals/customer-deals(size=${customerDeals.getSize()},page=${customerDeals.getNumber() - 1})}" href="#">Previous</a>

        <a class="btn btn-secondary"
           th:classappend="${customerDeals.hasNext() ? '' : 'disabled'}"
           th:href="@{/deals/customer-deals(size=${customerDeals.getSize()},page=${customerDeals.getNumber() + 1})}" href="#">Next</a>

        <a class="btn btn-secondary"
           th:classappend="${customerDeals.isLast() ? 'disabled' : ''}"
           th:href="@{/deals/customer-deals(size=${customerDeals.getSize()},page=${customerDeals.getTotalPages() - 1})}" href="#">Last</a>

    </div>
</div>

<div>
    <footer th:replace="fragments/footer::footer"></footer>
</div>

</body>
</html>
