<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container padding-90">
    <h2 class="text-center text-secondary">New Users</h2>
</div>

<table class="table table-hover">
    <thead>
    <tr class="table-primary">
        <th>ID</th>
        <th>E-mail</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Roles</th>
        <th>Has Company</th>
        <th>Edit</th>
        <th>Company name</th>
        <th>Company VAT</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u: ${newUsers}">
        <td th:text="${u.id}">User ID</td>
        <td th:text="${u.email}">email</td>
        <td th:text="${u.firstName}">firstName</td>
        <td th:text="${u.lastName}">lastName</td>
        <td th:text="${u.phoneNumber}">phoneNumber</td>
        <td th:text="${u.userRoles}">userRoles</td>
        <td>
            <span th:if="${u.company == null}">
            NO
            </span>
            <span th:unless="${u.company == null}">
            YES
            </span>
        </td>
        <td><a th:href="@{'/users/editAddRoleCompany/' + ${u.id}}">Edit</a></td>
        <td th:text="${u.compName}">compName</td>
        <td th:text="${u.compVAT}">compVAT</td>
        <td><a th:href="@{'/companies/add-company/' + ${u.id}}">Add Company</a></td>
    </tr>
    </tbody>
</table>

<div>
    <footer th:replace="fragments/footer::footer"></footer>
</div>

</body>
</html>
