<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container padding-90">
    <h2 class="text-center text-secondary">All Agents</h2>
</div>

<table id="myTable" class="table table-hover">
    <thead>
    <tr class="table-primary">
        <th>#</th>
<!--        <th>Name</th>-->
        <th>
            <input class="form-control"
                   style="200px"
                   type="text"
                   id="myInput"
                   onkeyup="myFunction()"
                   placeholder="Search by Name..">
        </th>
        <th>VAT</th>
        <th>Country</th>
        <th>Town</th>
        <th>Address</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a: ${allAgents}">
        <td text="#">#</td>
        <td th:text="${a.name}">Name</td>
        <td th:text="${a.vat}">VAT</td>
        <td th:text="${a.country}">VAT</td>
        <td th:text="${a.town}">VAT</td>
        <td th:text="${a.address}">Address</td>
        <td><a th:href="@{'/agents/edit/' + ${a.id}}">Edit</a></td>
    </tr>
    </tbody>
</table>


<div>
    <footer th:replace="fragments/footer::footer"></footer>
</div>

<script src="/js/myCompanySearch.js"></script>
</body>
</html>
